/* SELECTORES GENERALES */
*{	
	margin: 0;
	padding: 0;
	/*outline: 3px solid blue;*/
}
body
{
	font-family: 'Courgette'
}
header , footer
{
	background-color: #0B0511;
	overflow: hidden;
}
small , a 
{
	font-family: "Open Sans";
    font-style: italic;
	padding: 25px 6px;
	color: #E3DFDF;
	font-size: 12px;
}
h1 , h4
{
	color: #D9AF5D;
}
.container
{
	width: 700px;
	margin: 0 auto;
} 
.hero , .oferta , .sidebar
{
	overflow:hidden;	
	background-color: #1C1523;
	padding-top: 30px;
	box-sizing: border-box;
}
.titulo , .descripcion , .side , .about_me
{	
    background-color:#08050D;
	text-align:center;
}
.texto p
{
	text-align:left;
	font-family: "Open Sans";
	color: #E3DFDF;
	font-size: 12px;
	padding: 10px;
}
/*AQUI ESTA EL HEADER*/
.logo{
	width: 30%;
}
.menu
{
	float: right;	
	background-color: #0B0511;
}
.menu_bar
{
	display: none;
}
.menu li
{
	list-style:none;
	display: inline-block;
}
.menu li a
{
	text-decoration: none;
	display: block;
}
.menu li a:hover
{
	background: #0B4571;
}
/*ESTA ES LA SECCION DE LA PORTADA*/
.hero
{	
	clear: both;
}
.hero .portada{
	background: url(../image/header-image.jpg) top no-repeat;
    background-size: cover;
    width: 100%;
	display: table;
}
.titulo
{	
    margin:80px 120px;
    padding:20px 0;
}
.titulo h1
{
	font-size: 60px;
}
/*ESTA ES LA SECCION DEL CONTENIDO*/
.col-1,.col-2, .col-3
{
	width: 32%;
	float: left;
	box-sizing: border-box;
}
.col-2
{
	margin:0 13px;	
}
.descripcion
{
	padding-bottom: 20px;
}
.descripcion img 
{
	width: 100%;
	height: 200px;
}
/*ESTA ES LA SECCION DEL SIDEBAR COLUMNA IZQUIERDA*/
.col-izquierda
{
	width: 60%;	
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
.side
{
	clear: both;
}
.side img ,iframe
{
	width: 100%;
	height: 300px;
}

/*ESTA ES LA SECCION DEL SIDEBAR COLUMNA DERECHA*/
.col-derecha
{
	width: 40%;	
	float: left;
	box-sizing: border-box;
}
.search
{
	background-color:#08050D;
	padding: 20px;
	margin-bottom:10px; 
	border-radius: 10px;
}
.search form
{
	background-color: #1C1523;
	padding:10px;
}
.search input
{
	width: 100%;
	padding:5px;
	background-color: #1C1523;
	border: none;
	box-sizing: border-box;
}
.about_me img
{
	width: 100%;
	padding-top: 10px;
}
#name
{
	text-align:center;
	font-weight: bold;
	margin: 0;
}
.iconos {
   
    padding-bottom: 20px;
}
.fa-facebook-official , .fa-instagram , .fa-youtube , .fa-twitter
{
	border-radius: 100%;
	padding: 10px;
	background-color:#504848;
}
/*ESTA ES LA PARTE DEL FOOTER*/
#foot
{
	text-align: center;
}
footer
{
	padding: 20px;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 800px) {
	
   .menu{
   		width:30%;
		height:auto;
		margin:0;
		position: fixed;
   }
   .menu li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	.menu_bar {
		display:block;
		width:100%;
	}
	.menu_bar  .btn_menu
	{
		display: block;
		padding: 20px;
		box-sizing: border-box;
	}
	.menu_bar span{

		float: right;
	}
    .container {
        width: 95%;
    }
    .col-1, .col-2, .col-3, .col-izquierda, .col-derecha {
        float: none;
        width: 100%;
        padding: 0;
    }
  	.col-derecha 
  	{
  		display: none;
  	}
  	
}

